<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodTracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/moodtracker_1.css') }}">
</head>
<body>

    <div class="main">
        <h1>Describe how you feel today...</h1>

      <div class="line1">
        <textarea id="story" name="story" rows="7" cols="40"></textarea>
      </div><br><br>

      <div class="line2">
        <div class="submit">
          <button>Add Mood</button>
        </div>
      </div>

   
    </div>

       
    
</body>
</html>