<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodTracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="container">
        <form class="signup-form">
            <h2>SignUp</h2>
            <div class="input-group">
                <input type="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" required>
                <span class="toggle-password">&#128065;</span>
            </div>
            <div class="signup">
                <a href="login.html">Have an account?Login</a>
            </div>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>